<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    {{ title | default("HELM Workbooks") }}
  </title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
    integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="/css/toplayer.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <header>
  </header>

  <main>
    <div class="container is-max-desktop">
      <div class="columns">
        <div class="column">
          {{ content | safe }}
        </div>
      </div>
    </div>
  </main>

  <footer>
  </footer>
</body>

<script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-chtml.min.js"
  integrity="sha512-T8xxpazDtODy3WOP/c6hvQI2O9UPdARlDWE0CvH1Cfqc0TXZF6GZcEKL7tIR8VbfS/7s/J6C+VOqrD6hIo++vQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/mathjax.js"></script>

</html>